@import "tailwindcss";

@theme {
  --color-background: #FDFBF7;
  --color-foreground: #1A1A1A;
  --color-primary: #1A1A1A;
  --color-secondary: #ECE0D1;
  --color-accent: #C5A089;
  --color-muted: #888888;
  --color-outline: #EAEAEA;

  --font-serif: var(--font-playfair-display), serif;
  --font-sans: var(--font-poppins), sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}

/* Lenis */
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}